.from{
    height: 1500px; 
    width: 500px; 
    position:absolute; 
    opacity: 0.4; 
    background-color: rgb(255, 25, 25);
    transition:left 1s;
}

.from:hover{
    left:500px;
}


